* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
    overflow-x:hidden;
}

.navbar {
    background-image: url('Fond.png');
    position:absolute;
    top: 0;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: right;
    z-index: 10;
    box-shadow: 0px 1px 10px grey;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.menu {
    width: 50%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1%;
    padding-right: 20px;
}

.menu li {
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    transition: background-color 0.2s;
    cursor: pointer;
}

.menu a {
    text-decoration: none;
}

.menu li:hover {
    background-color: rgba(255,255,255, 0.3);
}

#toolbar {
    height: 20%;
    width: 60px;
    position: absolute;
    top: 40%;
    left: 5%;
    background: #fff;
    border-radius: 15px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px grey;
    gap: 2%;
    transition: all 0.2s;
}

.icones{
    width: 60%;
    padding: 2px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.2s;
}

.icones:hover {
    background: #ddd;
}

#theatre {
    width: 50%;
    padding: 6px;
}

#monument {
    width : 70%;
    padding: 0;
}

#magasin {
    width: 50%;
    padding: 5px;
}

#map {
    z-index: 0;
    width: 100%;
    height: 100%;
}

.selectionne {
    background-color: rgb(192, 190, 190);
}

#form{
    position: absolute;
    height: 50%;
    width: 33%;
    top: 25%;
    left: 33%;
    border-radius: 20px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color: #fff;
    background-image: url('Fond.png');
    background-size: cover;
    text-shadow: 0px 1px 5px rgb(0, 0, 0);
    z-index: 30;
}

#form h1{
    padding-top: 2%;
}

.texte, #valider, .butetoile, .boutons{
    border-radius: 20px;
    height: 40%;
    width: 100%;
    padding: 10px 5px;
    transition: all 0.2s;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    border-right: none;
    border-bottom: none;
    box-shadow: 0px 1px 5px rgb(139, 132, 132);
}

.texte:hover, #valider:hover, .butetoile:hover, .boutons:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.texte:focus {
    outline: none;
}

#etoiles {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
}

#valider {
    width: 33%;
    height: 10%;
    margin: auto;
}

#croix {
    position: absolute;
    top: 5%;
    right: 5%;
    color: rgb(177, 175, 175);
    transition: all 0.2s;
    cursor: pointer;
}

#croix:hover {
    color: #fff;
}

.champ h3 {
    text-align: center;
    padding: 10px 0;
}

.champ {
    width: 66%;
    height: 20%;
    padding: 10px;
}

textarea {
    resize: none;
    height: 50%;
}

#ombre {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 20;
    visibility: hidden;
}

.incorecte {
    border: 2px solid red;
}

/* Page Connecté */

#compte {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 1%;
    height: 1%;
    z-index: 21;
    background-image: url("Fond.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    color: #fff;
    text-shadow: 0px 1px 5px rgb(0, 0, 0);
    transition: width 0.5s;
    box-shadow: -1px 0px 10px black;
}

#compte > a,h2 {
    cursor: pointer;
}

.barre {
    background-color: #fff;
    height: 1px;
    width: 75%;
    cursor: none;
}

#fermercompte {
    position: absolute;
    top: 30px;
    right: 30px;
    transition: color 0.2s;
}

#fermercompte:hover {
    color: grey;
}

#compte a {
    transition: background 0.2s;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
}

#compte a:hover {
    background:rgba(255,255,255, 0.3)
}

#cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    z-index: 9; /*juste en dessous de la navbar*/
    cursor: pointer;
}